*{
  /*font-family: calibri;*/
  /*font-family: cursive;*/
  font-family: Trebuchet,sans-serif;
  /*font-family: Arial;*/
}

p{
  /*font-size: 14px;*/
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

/*.centralizar div{
  /*display: block;*/
  /*
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}*/
.centralizar h4, .centralizar p{
  text-align: center;
}


/*Não está modificando nada*/
/*p table {
  font-size: 14px;
}*/
.panel-title{
  font-size: 13,5px;
}

/*tr{
  padding: 30px;
  margin: 30px;
}*/

.tabela_dados{
  padding-top: 20px;
}

.tabela_dados table{
  /*margin-top: 10px;*/
  margin-bottom: 0px;
}

.botao_tabela > .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color: #696969;
  color: #FFF;
}

.botao_tabela > .nav > li > a{
  /*display: inline;*/
  /*color: #000;*/
  color: inherit;
}

.botao_gm{
  background-color: #696969;
  color: #FFF;
  border-color: #696969;
  font-size: 14px;
}


/*-------------------------------------------------------*/

.banner-cdz{
  margin-bottom: 20px;
}
.banner-abs{
  position: relative;
}
.titulo-batalha{
  /*margin-left: 0px;*/
  /*position: relative;*/
  /*vertical-align: middle;*/
  /*position: absolute;
  top: 50%;*/
  /*right: 50%;*/
  /*vertical-align: middle;*/
  position:absolute;
  top:40%;
  left:5%;
  font-size: 26px;
  font-weight: bold;
  color: #ccc;
}
.titulo-batalha h2{
  font-size: 24px;
}


/*------------------------------------------*/
.col-menos-padding{
    padding-right: 0px;
    padding-left: 0px;
    /*align-items: baseline;*/

}

.gra-lutas-bronze .col-md-2{
  /*margin: 0px 10px 0px 10px;*/
  /*padding: 0px;*/
  /*margin-right: 36px;*/
  /*margin: 0px 15px;*/
  /*display: block;*/

  /*
  margin auto e width precisam estar juntos
  para centralizar os elementos
  */
  margin: 0 auto;
  width: 20%;
}
.gra-lutas-bronze{
  margin-bottom: 10px;
}
.gm-panel-body{
  padding: 20px 0px 0px 0px;
}

.gm_grupo{
  margin-bottom: 10px;
}

.blocos-luta > .col-md-4{
  margin: 20px 0px 0px 0px;
}

/*-----------------------------------------*/
.banner-bronze{
  height: 300px;
  background-image: url(img/1bronze.jpg) ;
  background-position: center;
  background-size: cover;
}

/*.banner-prata{
  height: 300px;
  background-image: url(img/1prata2.jpg) ;
  background-position: center;
  background-size: cover;
  background-position: 0px -265px;
}*/
  /*background-image: url(img/1prata3.png) ;*/
  /*background-image: url(img/1prata4.jpg) ;*/
  /*background-clip: padding-box;*/
  /*background-image: url(img/saint_seiya_online_01_medio.jpg);*/

.banner-prata{
  height: 300px;
  background-position: center;
  background-size: cover;
  /*background-position: 0px -50px;
  background-image: url(img/1prata4.png);*/

  /*background-position: 0px -50px;
  background-image: url(img/1prata8.png);*/

  background-position: 0px -140px;
  background-image: url(img/1prata9.png);
}



.banner-ouro{
  height: 300px;
  /*background-image: url(img/1ouro2.jpg) ;*/
  background-image: url(img/1ouro.png) ;
  background-position: center;
  background-size: auto;

  background-position: 0px -40px;
  background-repeat: no-repeat;

}

.banner-asgard{
  height: 300px;
  /*background-image: url(img/1ouro2.jpg) ;*/
  background-image: url(img/Asgard.png) ;
  /*background-image: url(img/1deuses1.jpg) ;*/
  /*background-image: url(img/1deuses2.png) ;*/
  /*background-image: url(img/1deuses3.jpg) ;*/
  /*background-image: url(img/1deuses4.jpg) ;*/
  background-position: center;
  background-size: auto;

  background-position: 0px -60px;
  /*background-position: 0px -500px;*/
  /*background-position: 0px -100px;*/
  /*background-position: 0px -50px;*/
  /*background-repeat: no-repeat;*/
  background-size: cover;

}


.banner-marina{
  height: 300px;
  background-image: url(img/1marina.jpg) ;
  background-position: center;
  background-size: cover;
}

/*----------------- Paineis -------------*/
.panel-cdz1{
  /*background-color: #589cc7;*/
  /*background-color: #1c4e6b;*/
  background-color: #2d58a1;
  /*background-color: #222;*/
  /*background-color: #6D6D6D;*/
  color : #fff;

  background-image: url(img/background/ba-10.jpg) ;
  /*opacity: 0.9;*/
  background-position: 0px -250px;
  background-size: cover;
}

/*.panel-cdz1, #rodada1 .panel-heading{
  color : #fff;

  background-image: url(img/background-02.jpeg) ;
  opacity: 0.9;*/
  /*background-position: 0px -180px;*/
  /*background-size: cover;
}*/

.lutas_head .panel-heading{
  background-color: #fff;
  padding: 5px 10px;
}
.lutas_head h3{

  font-size: 12px;
}
.lutas_head{
  /*nao preciso mais */
  /*padding-bottom: 0px;*/

  padding: 0px 20px 20px 20px;
}

.panel_head_alt .panel-heading{
  padding: 5px 10px;
}


/*----------- Css dos graficos------------*/
.box {
  margin: 0px auto;
  width: 70%;
}
.box-chart {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.banner-capa{
  padding-top: 50px;
}
.conteudo{
  padding-top: 20px;
}


/*-------------- FOTOS ------------*/

.todas-fotos{
  /*padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 0px;*/

  padding: 0px;
  padding-top: 10px;



}
.fotos{
  /*width: 100px;
  margin: 5px auto;*/

  margin: 0 auto;
  width: 10%;

  display: block;
  float: left;
  /*position: relative;*/
  /*padding: 0px;*/
  /*margin-right: 14px;*/


}
.fotos p{
  margin: 10px 0px 10px 0px;
  line-height: 16px;

  /*width: 100px;*/
  /* para nao ter que usar br nos nomes*/

}
.fotos img{
  width: 100px;
}

/*.clear { clear: both; }*/


/*------------------- Rodapé --------------------*/
.centro{
  /*width: 100px;
  margin: 0 auto;*/

  text-align: center;
}

.foto_rodape{
  background-image: url(img/background-02.jpeg) ;
  opacity: 0.5;

  /*background-position: center;*/
  background-position: 0px -200px;
  background-size: cover;

}
